<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link th:href="@{/css/menuCSS.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/alert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/recherche.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/tableGestion.css}" rel="stylesheet" type="text/css" />
    <div class='tete'>
        <div class="banniere">
            <table>
                <tr>
                    <th><a th:href="@{/}"><img id="logo" th:src="@{images/logo.PNG}" alt="logo" /></a></th>
                    <th><h1 id="titre">Skillcravee</h1></th>
                </tr>
            </table>
        </div>
        <div id='droite'>
            <nav>
                <ul id='liste'>

                    <li class="active"><a th:href="@{/}">Accueil</a></li>

                    <li>
                        <div th:if="${session != null and session.role == 'étudiant'}">
                            <a
                                    th:href="@{/uploader}">Téléchargez CV
                            </a>
                        </div>
                    </li>
                    <li>
                        <div th:if="${session != null and (session.role == 'entreprise' or session.role == 'admin')}">
                            <a th:href="@{'/emploi/new'}" title="Ajouter un emploi">Ajouter un emploi</a>
                        </div>
                    </li>
                    <li>
                        <a
                                th:href="@{/index/new}" th:unless="${not #strings.isEmpty(session.email)}">Inscription
                        </a>
                    </li>
                    <li>
                        <div th:if="${session != null and session.role == 'admin'}" class="dropdown">
                            <button class="dropbtn">Administration</button>
                            <div class="dropdown-content">
                                <a th:href="@{/etudiants}">Etudiants</a>
                                <a th:href="@{/profs}">Professeurs</a>
                                <a th:href="@{/entreprises}">Entreprises</a>
                                <a th:href="@{/administrateurs}">Administrateurs</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a th:href="@{/login}" th:unless="${not #strings.isEmpty(session.email)}">Connexion</a>
                    </li>
                    <li>
                        <div  class="dropdown">
                            <button class="dropbtn" th:text="${session.email}"></button>
                            <div class="dropdown-content">
                                <a onclick="openPopup()">Profile</a>
                                <div th:if="${session != null}">
                                    <a th:href="@{/deconnexion}" th:if="${!#strings.isEmpty(session.email)}">Quitter</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class ="language-switcher">
                            <select id="language-select">
                                <option value ="fr">Français</option>
                                <option value ="en">English</option>
                            </select>
                            <script>
                                const languageSwitcher = document.getElementById('language-select')
                                languageSwitcher.addEventListener('change', function(){
                                    const selectedLanguage = languageSwitcher.value;
                                    window.location.href = '/' + selectedLanguage + '/';
                                });
                            </script>
                        </div>
                    </li>
                </ul>

            </nav>

        </div>
    </div>
</header>
<body>

  <input id="fileupload" type="file" name="fileupload" />
  <button id ="upload-button" onclick="uploadFile()"> Upload </button>
<script>
  async function uploadFile(){
    let formData = new FormData();
    formData.append("file", fileupload.files[0]);
    let reponse = await fetch('/upload', {
      method:"POST",
      body: formData
    });
    if (reponse.status == 200){
      alert("File Uploaded Successfully");
    }
  }

  function openPopup() {
      document.getElementById("myModal").style.display = "block";
  }

  function closePopup() {
      document.getElementById("myModal").style.display = "none";
  }
</script>

</body>
</html>